{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ blog.title }}
{% endblock %}

{% block content %}

<div
    id="blog-detail"
    data-comment-url="{% url 'blog:comment_blog' blog.id %}"
    data-authenticated="{{ request.user.is_authenticated|yesno:'true,false' }}"
>

    <div class="row">

        <div class="col-sm-3">
            {% include 'menuLeft.html' %}
        </div>

        <div class="col-sm-9">

            <div class="blog-post-area">

                <h2 class="title text-center">
                    Blog Detail
                </h2>

                <div class="single-blog-post">

                    <h3>
                        {{ blog.title }}
                    </h3>

                    <div class="post-meta">

                        <ul>

                            <li>
                                <i class="fa fa-user"></i>
                                {{ blog.author.username }}
                            </li>

                            <li>
                                <i class="fa fa-clock-o"></i>
                                {{ blog.created_at|date:"h:i A" }}
                            </li>

                            <li>
                                <i class="fa fa-calendar"></i>
                                {{ blog.created_at|date:"d M Y" }}
                            </li>

                        </ul>

                    </div>


                    {% if blog.image %}

                        <img
                            src="{{ blog.image.url }}"
                            alt="{{ blog.title }}"
                            style="
                                width: 100%;
                                height: auto;
                                margin-bottom: 25px;
                            "
                        >

                    {% endif %}


                    <div class="blog-content">
                        {{ blog.content|safe }}
                    </div>


                    <div class="pager-area">

                        <ul class="pager pull-right">

                            {% if previous_blog %}

                                <li>
                                    <a href="{% url 'blog:blog_detail' previous_blog.id %}">
                                        Pre
                                    </a>
                                </li>

                            {% endif %}


                            {% if next_blog %}

                                <li>
                                    <a href="{% url 'blog:blog_detail' next_blog.id %}">
                                        Next
                                    </a>
                                </li>

                            {% endif %}

                        </ul>

                    </div>

                </div>

            </div>


            {% include 'rate.html' %}


            <div class="response-area">

                <h2>
                    <span id="response-count">
                        {{ comments|length }}
                    </span>
                    RESPONSES
                </h2>


                <ul
                    class="media-list"
                    id="comment-list"
                >

                    {% for item in comments %}

                        <li
                            class="media blog-comment"
                            id="comment-{{ item.id }}"
                        >

                            <a
                                class="pull-left"
                                href="#"
                            >

                                {% if item.user.avatar %}

                                    <img
                                        class="media-object"
                                        src="{{ item.user.avatar.url }}"
                                        alt="{{ item.user.username }}"
                                        style="
                                            width: 80px;
                                            height: 80px;
                                            object-fit: cover;
                                        "
                                    >

                                {% else %}

                                    <img
                                        class="media-object"
                                        src="{% static 'images/blog/man-two.jpg' %}"
                                        alt="{{ item.user.username }}"
                                    >

                                {% endif %}

                            </a>


                            <div class="media-body">

                                <ul class="sinlge-post-meta">

                                    <li>
                                        <i class="fa fa-user"></i>
                                        {{ item.user.username }}
                                    </li>

                                    <li>
                                        <i class="fa fa-clock-o"></i>
                                        {{ item.time|date:"h:i A" }}
                                    </li>

                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        {{ item.time|date:"d M Y" }}
                                    </li>

                                </ul>


                                <p>
                                    {{ item.comment }}
                                </p>


                                <button
                                    type="button"
                                    class="btn btn-primary reply-button"
                                    data-comment-id="{{ item.id }}"
                                >
                                    <i class="fa fa-reply"></i>
                                    Reply
                                </button>


                                <div
                                    class="reply-form-container"
                                    id="reply-form-{{ item.id }}"
                                    style="
                                        display: none;
                                        margin-top: 15px;
                                    "
                                >

                                    <form
                                        class="reply-form"
                                        data-parent-id="{{ item.id }}"
                                    >

                                        <div class="form-group">

                                            <textarea
                                                class="form-control reply-input"
                                                rows="3"
                                                placeholder="Write your reply..."
                                            ></textarea>

                                        </div>


                                        <button
                                            type="submit"
                                            class="btn btn-primary btn-sm reply-submit"
                                        >
                                            Reply
                                        </button>


                                        <button
                                            type="button"
                                            class="btn btn-default btn-sm cancel-reply"
                                            data-comment-id="{{ item.id }}"
                                        >
                                            Cancel
                                        </button>

                                    </form>

                                </div>

                            </div>


                            <ul
                                class="media-list reply-list"
                                id="reply-list-{{ item.id }}"
                            >

                                {% for reply in item.replies.all %}

                                    <li
                                        class="media second-media blog-reply"
                                        id="comment-{{ reply.id }}"
                                    >

                                        <a
                                            class="pull-left"
                                            href="#"
                                        >

                                            {% if reply.user.avatar %}

                                                <img
                                                    class="media-object"
                                                    src="{{ reply.user.avatar.url }}"
                                                    alt="{{ reply.user.username }}"
                                                    style="
                                                        width: 80px;
                                                        height: 80px;
                                                        object-fit: cover;
                                                    "
                                                >

                                            {% else %}

                                                <img
                                                    class="media-object"
                                                    src="{% static 'images/blog/man-three.jpg' %}"
                                                    alt="{{ reply.user.username }}"
                                                >

                                            {% endif %}

                                        </a>


                                        <div class="media-body">

                                            <ul class="sinlge-post-meta">

                                                <li>
                                                    <i class="fa fa-user"></i>
                                                    {{ reply.user.username }}
                                                </li>

                                                <li>
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ reply.time|date:"h:i A" }}
                                                </li>

                                                <li>
                                                    <i class="fa fa-calendar"></i>
                                                    {{ reply.time|date:"d M Y" }}
                                                </li>

                                            </ul>


                                            <p>
                                                {{ reply.comment }}
                                            </p>

                                        </div>

                                    </li>

                                {% endfor %}

                            </ul>

                        </li>

                    {% empty %}

                        <li
                            id="no-comment-message"
                            class="media"
                        >
                            <div class="media-body">
                                <p>
                                    No comments yet.
                                </p>
                            </div>
                        </li>

                    {% endfor %}

                </ul>

            </div>


            <div class="replay-box">

                <div class="row">

                    <div class="col-sm-12">

                        <h2>
                            Leave a reply
                        </h2>


                        <form id="comment-form">

                            {% csrf_token %}


                            <div class="text-area">

                                <div class="blank-arrow">

                                    <label>

                                        {% if request.user.is_authenticated %}

                                            {{ request.user.username }}

                                        {% else %}

                                            Your Comment

                                        {% endif %}

                                    </label>

                                </div>


                                <span>*</span>


                                <textarea
                                    id="comment-input"
                                    name="comment"
                                    rows="11"
                                    placeholder="Write your comment..."
                                ></textarea>


                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                >
                                    Post Comment
                                </button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>


            <div style="margin-top: 25px; margin-bottom: 25px;">

                <a
                    href="{% url 'blog:blog_list' %}"
                    class="btn btn-default"
                >

                    <i class="fa fa-arrow-left"></i>

                    Back to Blog

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}



{% block extra_js %}

<script>

document.addEventListener(
    "DOMContentLoaded",
    function () {

        const blogDetail =
            document.getElementById(
                "blog-detail"
            );


        if (!blogDetail) {
            return;
        }


        const isAuthenticated =
            blogDetail.dataset.authenticated === "true";


        const commentUrl =
            blogDetail.dataset.commentUrl;


        const commentForm =
            document.getElementById(
                "comment-form"
            );


        const commentInput =
            document.getElementById(
                "comment-input"
            );


        const commentList =
            document.getElementById(
                "comment-list"
            );


        const responseCount =
            document.getElementById(
                "response-count"
            );


        const csrfInput =
            document.querySelector(
                "[name=csrfmiddlewaretoken]"
            );


        const csrfToken =
            csrfInput
                ? csrfInput.value
                : "";


        const defaultCommentAvatar =
            "{% static 'images/blog/man-two.jpg' %}";


        const defaultReplyAvatar =
            "{% static 'images/blog/man-three.jpg' %}";



        function escapeHTML(value) {

            const div =
                document.createElement(
                    "div"
                );


            div.textContent =
                value == null
                    ? ""
                    : value;


            return div.innerHTML;

        }



        function formatAvatar(
            avatar,
            defaultAvatar
        ) {

            if (
                avatar &&
                avatar.trim() !== ""
            ) {

                return escapeHTML(
                    avatar
                );

            }


            return defaultAvatar;

        }



        commentForm.addEventListener(
            "submit",
            function (event) {

                event.preventDefault();


                if (!isAuthenticated) {

                    alert(
                        "Please login to comment."
                    );

                    return;

                }


                const comment =
                    commentInput.value.trim();


                if (comment === "") {

                    alert(
                        "Please enter your comment."
                    );

                    return;

                }


                fetch(
                    commentUrl,
                    {

                        method: "POST",

                        headers: {

                            "Content-Type":
                                "application/x-www-form-urlencoded",

                            "X-CSRFToken":
                                csrfToken

                        },

                        body:
                            new URLSearchParams({

                                comment: comment

                            })

                    }
                )

                .then(
                    function (response) {

                        return response.json();

                    }
                )

                .then(
                    function (data) {

                        if (!data.success) {

                            alert(
                                data.error ||
                                "Unable to add comment."
                            );

                            return;

                        }


                        const noCommentMessage =
                            document.getElementById(
                                "no-comment-message"
                            );


                        if (noCommentMessage) {

                            noCommentMessage.remove();

                        }


                        const id =
                            data.data.id;


                        const username =
                            escapeHTML(
                                data.data.username
                            );


                        const commentText =
                            escapeHTML(
                                data.data.comment
                            );


                        const time =
                            escapeHTML(
                                data.data.time
                            );


                        const date =
                            escapeHTML(
                                data.data.date || ""
                            );


                        const avatar =
                            formatAvatar(
                                data.data.avatar,
                                defaultCommentAvatar
                            );


                        const commentHTML = `

                            <li
                                class="media blog-comment"
                                id="comment-${id}"
                            >

                                <a
                                    class="pull-left"
                                    href="#"
                                >

                                    <img
                                        class="media-object"
                                        src="${avatar}"
                                        alt="${username}"
                                        style="
                                            width: 80px;
                                            height: 80px;
                                            object-fit: cover;
                                        "
                                    >

                                </a>


                                <div class="media-body">

                                    <ul class="sinlge-post-meta">

                                        <li>

                                            <i class="fa fa-user"></i>

                                            ${username}

                                        </li>


                                        <li>

                                            <i class="fa fa-clock-o"></i>

                                            ${time}

                                        </li>


                                        ${
                                            date
                                                ? `
                                                    <li>

                                                        <i class="fa fa-calendar"></i>

                                                        ${date}

                                                    </li>
                                                `
                                                : ""
                                        }

                                    </ul>


                                    <p>
                                        ${commentText}
                                    </p>


                                    <button
                                        type="button"
                                        class="btn btn-primary reply-button"
                                        data-comment-id="${id}"
                                    >

                                        <i class="fa fa-reply"></i>

                                        Reply

                                    </button>


                                    <div
                                        class="reply-form-container"
                                        id="reply-form-${id}"
                                        style="
                                            display: none;
                                            margin-top: 15px;
                                        "
                                    >

                                        <form
                                            class="reply-form"
                                            data-parent-id="${id}"
                                        >

                                            <div class="form-group">

                                                <textarea
                                                    class="form-control reply-input"
                                                    rows="3"
                                                    placeholder="Write your reply..."
                                                ></textarea>

                                            </div>


                                            <button
    type="submit"
    class="btn btn-primary btn-sm reply-submit"
>
    Reply
</button>


                                            <button
                                                type="button"
                                                class="btn btn-default btn-sm cancel-reply"
                                                data-comment-id="${id}"
                                            >
                                                Cancel
                                            </button>

                                        </form>

                                    </div>

                                </div>


                                <ul
                                    class="media-list reply-list"
                                    id="reply-list-${id}"
                                ></ul>

                            </li>

                        `;


                        commentList.insertAdjacentHTML(
                            "afterbegin",
                            commentHTML
                        );


                        commentInput.value =
                            "";


                        if (responseCount) {

                            const currentCount =
                                parseInt(
                                    responseCount.textContent.trim()
                                ) || 0;


                            responseCount.textContent =
                                currentCount + 1;

                        }

                    }
                )

                .catch(
                    function (error) {

                        console.error(
                            error
                        );


                        alert(
                            "Something went wrong."
                        );

                    }
                );

            }
        );



        document.addEventListener(
            "click",
            function (event) {

                const replyButton =
                    event.target.closest(
                        ".reply-button"
                    );


                if (replyButton) {

                    if (!isAuthenticated) {

                        alert(
                            "Please login to reply."
                        );

                        return;

                    }


                    const commentId =
                        replyButton.dataset.commentId;


                    document
                        .querySelectorAll(
                            ".reply-form-container"
                        )
                        .forEach(
                            function (item) {

                                item.style.display =
                                    "none";

                            }
                        );


                    const replyFormContainer =
                        document.getElementById(
                            `reply-form-${commentId}`
                        );


                    if (
                        replyFormContainer
                    ) {

                        replyFormContainer.style.display =
                            "block";


                        const input =
                            replyFormContainer.querySelector(
                                ".reply-input"
                            );


                        if (input) {
                            input.focus();
                        }

                    }


                    return;

                }



                const cancelButton =
                    event.target.closest(
                        ".cancel-reply"
                    );


                if (cancelButton) {

                    const commentId =
                        cancelButton.dataset.commentId;


                    const replyFormContainer =
                        document.getElementById(
                            `reply-form-${commentId}`
                        );


                    if (
                        replyFormContainer
                    ) {

                        replyFormContainer.style.display =
                            "none";


                        const input =
                            replyFormContainer.querySelector(
                                ".reply-input"
                            );


                        if (input) {
                            input.value = "";
                        }

                    }

                }

            }
        );



        document.addEventListener(
            "submit",
            function (event) {

                const form =
                    event.target;


                if (
                    !form.classList.contains(
                        "reply-form"
                    )
                ) {

                    return;

                }


                event.preventDefault();


                if (!isAuthenticated) {

                    alert(
                        "Please login to reply."
                    );

                    return;

                }


                const parentId =
                    form.dataset.parentId;


                const input =
                    form.querySelector(
                        ".reply-input"
                    );


                const comment =
                    input.value.trim();


                if (comment === "") {

                    alert(
                        "Please enter your reply."
                    );

                    return;

                }


                fetch(
                    commentUrl,
                    {

                        method: "POST",

                        headers: {

                            "Content-Type":
                                "application/x-www-form-urlencoded",

                            "X-CSRFToken":
                                csrfToken

                        },

                        body:
                            new URLSearchParams({

                                comment:
                                    comment,

                                parent_id:
                                    parentId

                            })

                    }
                )

                .then(
                    function (response) {

                        return response.json();

                    }
                )

                .then(
                    function (data) {

                        if (!data.success) {

                            alert(
                                data.error ||
                                "Unable to add reply."
                            );

                            return;

                        }


                        const id =
                            data.data.id;


                        const username =
                            escapeHTML(
                                data.data.username
                            );


                        const commentText =
                            escapeHTML(
                                data.data.comment
                            );


                        const time =
                            escapeHTML(
                                data.data.time
                            );


                        const date =
                            escapeHTML(
                                data.data.date || ""
                            );


                        const avatar =
                            formatAvatar(
                                data.data.avatar,
                                defaultReplyAvatar
                            );


                        const replyHTML = `

                            <li
                                class="media second-media blog-reply"
                                id="comment-${id}"
                            >

                                <a
                                    class="pull-left"
                                    href="#"
                                >

                                    <img
                                        class="media-object"
                                        src="${avatar}"
                                        alt="${username}"
                                        style="
                                            width: 80px;
                                            height: 80px;
                                            object-fit: cover;
                                        "
                                    >

                                </a>


                                <div class="media-body">

                                    <ul class="sinlge-post-meta">

                                        <li>

                                            <i class="fa fa-user"></i>

                                            ${username}

                                        </li>


                                        <li>

                                            <i class="fa fa-clock-o"></i>

                                            ${time}

                                        </li>


                                        ${
                                            date
                                                ? `
                                                    <li>

                                                        <i class="fa fa-calendar"></i>

                                                        ${date}

                                                    </li>
                                                `
                                                : ""
                                        }

                                    </ul>


                                    <p>
                                        ${commentText}
                                    </p>

                                </div>

                            </li>

                        `;


                        const replyList =
                            document.getElementById(
                                `reply-list-${parentId}`
                            );


                        if (replyList) {

                            replyList.insertAdjacentHTML(
                                "beforeend",
                                replyHTML
                            );

                        }


                        input.value =
                            "";


                        const replyFormContainer =
                            document.getElementById(
                                `reply-form-${parentId}`
                            );


                        if (
                            replyFormContainer
                        ) {

                            replyFormContainer.style.display =
                                "none";

                        }

                    }
                )

                .catch(
                    function (error) {

                        console.error(
                            error
                        );


                        alert(
                            "Something went wrong."
                        );

                    }
                );

            }
        );

    }
);

</script>

{% endblock %}