<div class="left-sidebar">

    <h2>
        Account
    </h2>

    <div class="panel-group category-products">

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a href="{% url 'users:account_update' %}">

                        Account

                        <span class="pull-right">
                            +
                        </span>

                    </a>

                </h4>

            </div>

        </div>


        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a href="{% url 'users:my_product' %}">

                        My Product

                        <span class="pull-right">
                            +
                        </span>

                    </a>

                </h4>

            </div>

        </div>

    </div>

</div>