{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ product.name }} | E-Shopper
{% endblock %}


{% block extra_css %}

<style>

    .view-product {
        position: relative;
        border: 1px solid #eeeeee;
        background: #ffffff;
        overflow: hidden;
    }


    .main-product-image {
        width: 100%;
        height: 420px;
        object-fit: contain;
    }


    .view-product h3 {
        background: #fe980f;
        bottom: 0;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
        padding: 8px 20px;
        position: absolute;
        right: 0;
    }


    #similar-product {
        margin-top: 20px;
        position: relative;
    }


    #similar-product .carousel-inner {
        width: 100%;
    }


    #similar-product .carousel-inner .item {
        text-align: center;
        padding-left: 0;
    }


    #similar-product .carousel-inner .item .product-thumbnail-link {
        display: inline-block;
        width: 28%;
        margin: 0 1%;
        vertical-align: middle;
    }


    #similar-product .carousel-inner .item .product-thumbnail {
        width: 100%;
        height: 100px;
        object-fit: cover;
        margin: 0;
        padding: 3px;
        border: 2px solid #eeeeee;
        background: #ffffff;
        cursor: pointer;
    }


    #similar-product .carousel-inner .item .product-thumbnail:hover,
    #similar-product .carousel-inner .item .product-thumbnail.active {
        border-color: #fe980f;
    }


    #similar-product .item-control {
        position: absolute;
        top: 35%;
        z-index: 10;
    }


    #similar-product .left.item-control {
        left: 0;
    }


    #similar-product .right.item-control {
        right: 0;
    }


    #similar-product .item-control i {
        background: #fe980f;
        color: #ffffff;
        font-size: 20px;
        padding: 5px 10px;
    }


    #similar-product .item-control i:hover {
        background: #e58a0b;
    }


    .product-information {
        padding-top: 20px;
    }


    .product-price {
        display: block;
        color: #fe980f;
        font-size: 30px;
        font-weight: bold;
        margin: 15px 0;
    }


    .old-price {
        display: inline-block;
        color: #999999;
        font-size: 18px;
        margin-left: 10px;
    }


    .detail-quantity {
        width: 60px;
        height: 33px;
        border: 1px solid #dddddd;
        text-align: center;
        margin-right: 10px;
    }


    .detail-content {
        padding: 20px;
    }


    @media(max-width: 767px) {

        .main-product-image {
            height: 300px;
        }


        #similar-product .carousel-inner .item .product-thumbnail {
            height: 80px;
        }

    }

</style>

{% endblock %}



{% block content %}

<section>

    <div class="container">

        <div class="row">


            <div class="col-sm-3">

                {% include 'menuLeft.html' %}

            </div>



            <div class="col-sm-9 padding-right">


                <div class="product-details">


                    <div class="col-sm-5">


                        <div class="view-product">


                            {% if product.image_list %}

                                <img
                                    id="mainProductImage"
                                    class="main-product-image"
                                    src="{{ product.image_list.0 }}"
                                    alt="{{ product.name }}"
                                >


                                <a
                                    id="mainProductZoom"
                                    href="{{ product.image_list.0 }}"
                                    rel="prettyPhoto"
                                >

                                    <h3>
                                        ZOOM
                                    </h3>

                                </a>


                            {% else %}

                                <img
                                    id="mainProductImage"
                                    class="main-product-image"
                                    src="{% static 'images/product-details/1.jpg' %}"
                                    alt="{{ product.name }}"
                                >


                                <a
                                    id="mainProductZoom"
                                    href="{% static 'images/product-details/1.jpg' %}"
                                    rel="prettyPhoto"
                                >

                                    <h3>
                                        ZOOM
                                    </h3>

                                </a>

                            {% endif %}


                        </div>



                        {% if product.image_list %}

                            <div
                                id="similar-product"
                                class="carousel slide"
                                data-ride="carousel"
                                data-interval="false"
                            >


                                <div class="carousel-inner">


                                    {% for image in product.image_list %}


                                        {% if forloop.counter0|divisibleby:"3" %}

                                            <div class="item {% if forloop.first %}active{% endif %}">

                                        {% endif %}


                                            <a
                                                href="javascript:void(0);"
                                                class="product-thumbnail-link"
                                            >

                                                <img
                                                    src="{{ image }}"
                                                    data-full="{{ image }}"
                                                    class="product-thumbnail {% if forloop.first %}active{% endif %}"
                                                    alt="{{ product.name }}"
                                                >

                                            </a>


                                        {% if forloop.counter|divisibleby:"3" or forloop.last %}

                                            </div>

                                        {% endif %}


                                    {% endfor %}



                                    {% if product.image_list|length <= 3 %}

                                        <div class="item">


                                            {% for image in product.image_list %}

                                                <a
                                                    href="javascript:void(0);"
                                                    class="product-thumbnail-link"
                                                >

                                                    <img
                                                        src="{{ image }}"
                                                        data-full="{{ image }}"
                                                        class="product-thumbnail"
                                                        alt="{{ product.name }}"
                                                    >

                                                </a>

                                            {% endfor %}


                                        </div>

                                    {% endif %}


                                </div>



                                <a
                                    class="left item-control"
                                    href="#similar-product"
                                    data-slide="prev"
                                >

                                    <i class="fa fa-angle-left"></i>

                                </a>



                                <a
                                    class="right item-control"
                                    href="#similar-product"
                                    data-slide="next"
                                >

                                    <i class="fa fa-angle-right"></i>

                                </a>


                            </div>

                        {% endif %}


                    </div>



                    <div class="col-sm-7">


                        <div class="product-information">


                            {% if product.status == 0 %}

                                <img
                                    src="{% static 'images/product-details/new.jpg' %}"
                                    class="newarrival"
                                    alt="New"
                                >

                            {% endif %}



                            <h2>
                                {{ product.name }}
                            </h2>


                            <p>
                                Web ID:
                                {{ product.id }}
                            </p>



                            {% if product.status == 1 and product.sale > 0 %}

                                <span class="product-price">

                                    US ${{ product.sale }}

                                    <del class="old-price">
                                        ${{ product.price }}
                                    </del>

                                </span>

                            {% else %}

                                <span class="product-price">

                                    US ${{ product.price }}

                                </span>

                            {% endif %}



                            <p>

                                <b>
                                    Category:
                                </b>

                                {% if product.category %}

                                    {{ product.category.name }}

                                {% else %}

                                    N/A

                                {% endif %}

                            </p>



                            <p>

                                <b>
                                    Brand:
                                </b>

                                {% if product.brand %}

                                    {{ product.brand.name }}

                                {% else %}

                                    N/A

                                {% endif %}

                            </p>



                            <p>

                                <b>
                                    Company:
                                </b>

                                {% if product.company %}

                                    {{ product.company }}

                                {% else %}

                                    N/A

                                {% endif %}

                            </p>



                            <p>

                                <b>
                                    Status:
                                </b>

                                {{ product.get_status_display }}

                            </p>



                            <p>

                                <b>
                                    Created:
                                </b>

                                {{ product.created_at|date:"d/m/Y H:i" }}

                            </p>



                            <div style="margin-top: 20px;">


                                <label>
                                    Quantity:
                                </label>


                                <input
                                    id="productQuantity"
                                    class="detail-quantity"
                                    type="number"
                                    value="1"
                                    min="1"
                                >


                                <button
                                    type="button"
                                    id="detailAddToCart"
                                    class="btn btn-fefault cart"
                                    data-product-id="{{ product.id }}"
                                >

                                    <i class="fa fa-shopping-cart"></i>

                                    Add to cart

                                </button>


                            </div>


                        </div>


                    </div>


                </div>



                <div style="clear: both;"></div>



                <div class="category-tab shop-details-tab">


                    <div class="col-sm-12">


                        <ul class="nav nav-tabs">


                            <li class="active">

                                <a
                                    href="#details"
                                    data-toggle="tab"
                                >
                                    Details
                                </a>

                            </li>


                            <li>

                                <a
                                    href="#reviews"
                                    data-toggle="tab"
                                >
                                    Reviews
                                </a>

                            </li>


                        </ul>


                    </div>



                    <div class="tab-content">


                        <div
                            class="tab-pane fade active in"
                            id="details"
                        >


                            <div class="col-sm-12">


                                <div class="detail-content">


                                    <h3>
                                        {{ product.name }}
                                    </h3>


                                    {% if product.detail %}

                                        {{ product.detail|linebreaks }}

                                    {% else %}

                                        <p>
                                            No product details.
                                        </p>

                                    {% endif %}


                                </div>


                            </div>


                        </div>



                        <div
                            class="tab-pane fade"
                            id="reviews"
                        >


                            <div class="col-sm-12">


                                <p>

                                    <b>
                                        Write Your Review
                                    </b>

                                </p>


                                <form>


                                    <span>


                                        <input
                                            type="text"
                                            placeholder="Your Name"
                                        >


                                        <input
                                            type="email"
                                            placeholder="Email Address"
                                        >


                                    </span>


                                    <textarea
                                        placeholder="Your Review"
                                    ></textarea>


                                    <button
                                        type="button"
                                        class="btn btn-default pull-right"
                                    >

                                        Submit

                                    </button>


                                </form>


                            </div>


                        </div>


                    </div>


                </div>


            </div>


        </div>


    </div>

</section>

{% endblock %}



{% block extra_js %}

<script>

document.addEventListener(
    'DOMContentLoaded',
    function () {


        const mainImage =
            document.getElementById(
                'mainProductImage'
            );


        const mainProductZoom =
            document.getElementById(
                'mainProductZoom'
            );


        const thumbnails =
            document.querySelectorAll(
                '.product-thumbnail'
            );


        thumbnails.forEach(
            function (thumbnail) {


                thumbnail.addEventListener(
                    'click',
                    function () {


                        const fullImage =
                            thumbnail.dataset.full;


                        if (mainImage) {

                            mainImage.src =
                                fullImage;

                        }


                        if (mainProductZoom) {

                            mainProductZoom.href =
                                fullImage;

                        }


                        thumbnails.forEach(
                            function (item) {


                                if (
                                    item.dataset.full ===
                                    fullImage
                                ) {

                                    item.classList.add(
                                        'active'
                                    );

                                } else {

                                    item.classList.remove(
                                        'active'
                                    );

                                }


                            }
                        );


                    }
                );


            }
        );



        if (
            window.jQuery &&
            window.jQuery.fn.carousel
        ) {


            window.jQuery(
                '#similar-product'
            ).carousel(
                {
                    interval: false,
                    wrap: true
                }
            );


        }



        if (
            window.jQuery &&
            window.jQuery.fn.prettyPhoto
        ) {


            window.jQuery(
                "a[rel^='prettyPhoto']"
            ).prettyPhoto();


        }



        document.addEventListener(
            'keydown',
            function (event) {


                if (
                    !window.jQuery ||
                    !window.jQuery.fn.carousel
                ) {

                    return;

                }


                if (
                    event.key === 'ArrowLeft'
                ) {


                    window.jQuery(
                        '#similar-product'
                    ).carousel(
                        'prev'
                    );


                }


                if (
                    event.key === 'ArrowRight'
                ) {


                    window.jQuery(
                        '#similar-product'
                    ).carousel(
                        'next'
                    );


                }


            }
        );



        const addToCartButton =
            document.getElementById(
                'detailAddToCart'
            );


        const quantityInput =
            document.getElementById(
                'productQuantity'
            );


        const csrfInput =
            document.querySelector(
                '#csrf-form input[name="csrfmiddlewaretoken"]'
            );


        const csrfToken =
            csrfInput
                ? csrfInput.value
                : '';



        if (
            addToCartButton &&
            quantityInput
        ) {


            addToCartButton.addEventListener(
                'click',
                function () {


                    const productId =
                        addToCartButton
                            .dataset
                            .productId;


                    let quantity =
                        parseInt(
                            quantityInput.value
                        );


                    if (
                        !quantity ||
                        quantity < 1
                    ) {


                        quantity = 1;


                        quantityInput.value =
                            1;


                    }


                    const requests = [];


                    for (
                        let i = 0;
                        i < quantity;
                        i++
                    ) {


                        requests.push(

                            fetch(
                                "{% url 'product:add_to_cart' %}",
                                {

                                    method:
                                        'POST',

                                    credentials:
                                        'same-origin',

                                    headers: {

                                        'Content-Type':
                                            'application/json',

                                        'X-CSRFToken':
                                            csrfToken

                                    },

                                    body:
                                        JSON.stringify(
                                            {

                                                product_id:
                                                    productId

                                            }
                                        )

                                }
                            )
                            .then(
                                function (
                                    response
                                ) {


                                    if (
                                        !response.ok
                                    ) {


                                        throw new Error(
                                            'HTTP error ' +
                                            response.status
                                        );


                                    }


                                    return response.json();


                                }
                            )

                        );


                    }



                    Promise
                        .all(
                            requests
                        )
                        .then(
                            function (
                                results
                            ) {


                                const lastResult =
                                    results[
                                        results.length - 1
                                    ];


                                if (
                                    !lastResult ||
                                    !lastResult.success
                                ) {


                                    alert(
                                        'Không thể thêm sản phẩm vào Cart.'
                                    );


                                    return;


                                }


                                const cartCount =
                                    document.getElementById(
                                        'cart-count'
                                    );


                                if (cartCount) {


                                    cartCount.textContent =
                                        lastResult.cart_count;


                                }


                                const oldHTML =
                                    addToCartButton.innerHTML;


                                addToCartButton.innerHTML =
                                    '<i class="fa fa-check"></i> Added';


                                addToCartButton.disabled =
                                    true;


                                setTimeout(
                                    function () {


                                        addToCartButton.innerHTML =
                                            oldHTML;


                                        addToCartButton.disabled =
                                            false;


                                    },
                                    1000
                                );


                            }
                        )
                        .catch(
                            function (
                                error
                            ) {


                                console.error(
                                    'Add to cart error:',
                                    error
                                );


                                alert(
                                    'Không thể thêm sản phẩm vào Cart.'
                                );


                            }
                        );


                }
            );


        }


    }
);

</script>

{% endblock %}  