{% extends 'base.html' %}
{% load static %}


{% block title %}
Cart | E-Shopper
{% endblock %}



{% block content %}


<section id="cart_items">


    <div class="container">


        <div class="breadcrumbs">

            <ol class="breadcrumb">

                <li>

                    <a href="{% url 'users:home' %}">
                        Home
                    </a>

                </li>

                <li class="active">
                    Shopping Cart
                </li>

            </ol>

        </div>



        <div class="table-responsive cart_info">


            <table class="table table-condensed">


                <thead>

                    <tr class="cart_menu">

                        <td class="image">
                            Item
                        </td>

                        <td class="description">
                            Description
                        </td>

                        <td class="price">
                            Price
                        </td>

                        <td class="quantity">
                            Quantity
                        </td>

                        <td class="total">
                            Total
                        </td>

                        <td></td>

                    </tr>

                </thead>



                <tbody id="cart-body">


                    {% for item in cart_items %}


                    <tr
                        id="cart-row-{{ item.product.id }}"
                    >


                        <td class="cart_product">


                            <a href="{% url 'users:product_detail' item.product.id %}">


                                {% if item.image %}


                                <img
                                    src="{{ item.image }}"
                                    alt="{{ item.product.name }}"
                                    style="
                                        width:110px;
                                        height:110px;
                                        object-fit:contain;
                                    "
                                >


                                {% else %}


                                <img
                                    src="{% static 'images/cart/one.png' %}"
                                    alt="{{ item.product.name }}"
                                >


                                {% endif %}


                            </a>


                        </td>



                        <td class="cart_description">


                            <h4>

                                <a href="{% url 'users:product_detail' item.product.id %}">

                                    {{ item.product.name }}

                                </a>

                            </h4>


                            <p>
                                Web ID:
                                {{ item.product.id }}
                            </p>


                        </td>



                        <td class="cart_price">

                            <p>
                                ${{ item.price }}
                            </p>

                        </td>



                        <td class="cart_quantity">


                            <div class="cart_quantity_button">


                                <a
                                    href="#"
                                    class="cart_quantity_up cart-update"
                                    data-id="{{ item.product.id }}"
                                    data-action="plus"
                                >
                                    +
                                </a>


                                <input
                                    id="quantity-{{ item.product.id }}"
                                    class="cart_quantity_input"
                                    type="text"
                                    value="{{ item.quantity }}"
                                    readonly
                                    size="2"
                                >


                                <a
                                    href="#"
                                    class="cart_quantity_down cart-update"
                                    data-id="{{ item.product.id }}"
                                    data-action="minus"
                                >
                                    -
                                </a>


                            </div>


                        </td>



                        <td class="cart_total">


                            <p
                                id="item-total-{{ item.product.id }}"
                                class="cart_total_price"
                            >
                                ${{ item.total }}
                            </p>


                        </td>



                        <td class="cart_delete">


                            <a
                                href="#"
                                class="cart_quantity_delete cart-delete"
                                data-id="{{ item.product.id }}"
                            >

                                <i class="fa fa-times"></i>

                            </a>


                        </td>


                    </tr>


                    {% empty %}


                    <tr id="empty-cart-row">


                        <td
                            colspan="6"
                            class="text-center"
                            style="padding:50px;"
                        >


                            <h4>
                                Your cart is empty.
                            </h4>


                            <a
                                href="{% url 'users:home' %}"
                                class="btn btn-default"
                            >

                                Continue Shopping

                            </a>


                        </td>


                    </tr>


                    {% endfor %}


                </tbody>


            </table>


        </div>


    </div>


</section>



<section id="do_action">


    <div class="container">


        <div class="row">


            <div class="col-sm-6">

            </div>


            <div class="col-sm-6">


                <div class="total_area">


                    <ul>


                        <li>

                            Cart Sub Total

                            <span id="cart-subtotal">

                                ${{ cart_total }}

                            </span>

                        </li>


                        <li>

                            Shipping Cost

                            <span>
                                Free
                            </span>

                        </li>


                        <li>

                            Total

                            <span id="cart-total">

                                ${{ cart_total }}

                            </span>

                        </li>


                    </ul>


                    <a
                        class="btn btn-default check_out"
                        href="{% url 'users:checkout' %}"
                    >

                        Check Out

                    </a>


                </div>


            </div>


        </div>


    </div>


</section>


{% endblock %}



{% block extra_js %}


<script>

document.addEventListener(
    'DOMContentLoaded',
    function () {


        const csrfInput =
            document.querySelector(
                '#csrf-form input[name="csrfmiddlewaretoken"]'
            );


        const csrfToken =
            csrfInput
                ? csrfInput.value
                : '';



        function updateHeader(
            count
        ) {

            const element =
                document.getElementById(
                    'cart-count'
                );


            if (element) {

                element.textContent =
                    count;

            }

        }



        function updateTotals(
            total
        ) {


            document.getElementById(
                'cart-subtotal'
            ).textContent =
                '$' + total;


            document.getElementById(
                'cart-total'
            ).textContent =
                '$' + total;


        }



        function checkEmpty() {


            const body =
                document.getElementById(
                    'cart-body'
                );


            const rows =
                body.querySelectorAll(
                    'tr[id^="cart-row-"]'
                );


            if (
                rows.length === 0
            ) {


                body.innerHTML = `

                    <tr>

                        <td
                            colspan="6"
                            class="text-center"
                            style="padding:50px;"
                        >

                            <h4>
                                Your cart is empty.
                            </h4>

                        </td>

                    </tr>

                `;


            }


        }



        document
            .querySelectorAll(
                '.cart-update'
            )
            .forEach(
                function (button) {


                    button.addEventListener(
                        'click',
                        function (event) {


                            event.preventDefault();


                            const productId =
                                button.dataset.id;


                            const action =
                                button.dataset.action;



                            fetch(
                                "{% url 'users:update_cart' %}",
                                {

                                    method: 'POST',

                                    credentials:
                                        'same-origin',

                                    headers: {

                                        'Content-Type':
                                            'application/json',

                                        'X-CSRFToken':
                                            csrfToken

                                    },

                                    body:
                                        JSON.stringify(
                                            {
                                                product_id:
                                                    productId,

                                                action:
                                                    action
                                            }
                                        )

                                }
                            )


                            .then(
                                response =>
                                    response.json()
                            )


                            .then(
                                function (data) {


                                    if (!data.success) {

                                        alert(
                                            data.message
                                        );

                                        return;

                                    }


                                    updateHeader(
                                        data.cart_count
                                    );


                                    updateTotals(
                                        data.cart_total
                                    );


                                    if (
                                        data.removed
                                    ) {


                                        document
                                            .getElementById(
                                                'cart-row-' +
                                                productId
                                            )
                                            ?.remove();


                                        checkEmpty();


                                        return;

                                    }


                                    document
                                        .getElementById(
                                            'quantity-' +
                                            productId
                                        )
                                        .value =
                                            data.quantity;


                                    document
                                        .getElementById(
                                            'item-total-' +
                                            productId
                                        )
                                        .textContent =
                                            '$' +
                                            data.item_total;


                                }
                            );


                        }
                    );


                }
            );



        document
            .querySelectorAll(
                '.cart-delete'
            )
            .forEach(
                function (button) {


                    button.addEventListener(
                        'click',
                        function (event) {


                            event.preventDefault();


                            const productId =
                                button.dataset.id;



                            fetch(
                                "{% url 'users:delete_cart_item' %}",
                                {

                                    method: 'POST',

                                    credentials:
                                        'same-origin',

                                    headers: {

                                        'Content-Type':
                                            'application/json',

                                        'X-CSRFToken':
                                            csrfToken

                                    },

                                    body:
                                        JSON.stringify(
                                            {
                                                product_id:
                                                    productId
                                            }
                                        )

                                }
                            )


                            .then(
                                response =>
                                    response.json()
                            )


                            .then(
                                function (data) {


                                    if (!data.success) {

                                        alert(
                                            data.message
                                        );

                                        return;

                                    }


                                    const row =
                                        document.getElementById(
                                            'cart-row-' +
                                            productId
                                        );


                                    if (row) {

                                        row.remove();

                                    }


                                    updateHeader(
                                        data.cart_count
                                    );


                                    updateTotals(
                                        data.cart_total
                                    );


                                    checkEmpty();


                                }
                            );


                        }
                    );


                }
            );


    }
);

</script>


{% endblock %}