{% extends 'base.html' %}
{% load static %}


{% block title %}
Checkout | E-Shopper
{% endblock %}


{% block content %}


<section id="cart_items">

    <div class="container">


        <div class="breadcrumbs">

            <ol class="breadcrumb">

                <li>

                    <a href="{% url 'users:home' %}">
                        Home
                    </a>

                </li>

                <li>

                    <a href="{% url 'users:cart' %}">
                        Cart
                    </a>

                </li>

                <li class="active">
                    Checkout
                </li>

            </ol>

        </div>



        {% if messages %}

            {% for message in messages %}

                <div
                    class="alert
                    {% if message.tags == 'success' %}
                        alert-success
                    {% else %}
                        alert-danger
                    {% endif %}"
                >

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}



        {% if checkout_items %}


        <form method="POST">

            {% csrf_token %}



            <div class="step-one">

                <h2 class="heading">
                    Customer Information
                </h2>

            </div>



            <div class="shopper-informations">

                <div class="row">



                    {% if not request.user.is_authenticated %}


                    <div class="col-sm-4">


                        <div class="shopper-info">

                            <p>
                                Quick Register
                            </p>


                            <input
                                type="text"
                                name="username"
                                placeholder="Username *"
                                value="{{ request.POST.username }}"
                                required
                            >


                            <input
                                type="password"
                                name="password"
                                placeholder="Password *"
                                required
                            >


                            <input
                                type="password"
                                name="confirm_password"
                                placeholder="Confirm Password *"
                                required
                            >


                            <p style="margin-top:15px;">

                                Already have an account?

                                <a href="{% url 'users:login' %}">
                                    Login
                                </a>

                            </p>


                        </div>


                    </div>


                    <div class="col-sm-4">


                    {% else %}


                    <div class="col-sm-6">


                    {% endif %}


                        <div class="bill-to">

                            <p>
                                Bill To
                            </p>


                            <input
                                type="text"
                                name="name"
                                placeholder="Full Name *"
                                value="{% if request.POST.name %}{{ request.POST.name }}{% elif request.user.is_authenticated %}{{ request.user.first_name }} {{ request.user.last_name }}{% endif %}"
                                required
                            >


                            <input
                                type="email"
                                name="email"
                                placeholder="Email *"
                                value="{% if request.POST.email %}{{ request.POST.email }}{% elif request.user.is_authenticated %}{{ request.user.email }}{% endif %}"
                                required
                            >


                            <input
                                type="text"
                                name="phone"
                                placeholder="Phone *"
                                value="{{ request.POST.phone }}"
                                required
                            >


                            <input
                                type="text"
                                name="address"
                                placeholder="Address"
                                value="{{ request.POST.address }}"
                            >


                        </div>


                    </div>



                    {% if request.user.is_authenticated %}

                    <div class="col-sm-6">

                    {% else %}

                    <div class="col-sm-4">

                    {% endif %}


                        <div class="order-message">

                            <p>
                                Shipping Order
                            </p>


                            <textarea
                                name="message"
                                placeholder="Notes about your order, Special Notes for Delivery"
                                rows="10"
                            >{{ request.POST.message }}</textarea>


                        </div>


                    </div>


                </div>

            </div>



            <div class="review-payment">

                <h2>
                    Review & Payment
                </h2>

            </div>



            <div class="table-responsive cart_info">


                <table class="table table-condensed">


                    <thead>


                        <tr class="cart_menu">

                            <td class="image">
                                Item
                            </td>

                            <td class="description">
                                Description
                            </td>

                            <td class="price">
                                Price
                            </td>

                            <td class="quantity">
                                Quantity
                            </td>

                            <td class="total">
                                Total
                            </td>

                        </tr>


                    </thead>



                    <tbody>


                        {% for item in checkout_items %}


                        <tr>


                            <td class="cart_product">


                                <a href="{% url 'users:product_detail' item.product.id %}">


                                    {% if item.image %}


                                        <img
                                            src="{{ item.image }}"
                                            alt="{{ item.product.name }}"
                                            style="
                                                width:110px;
                                                height:110px;
                                                object-fit:contain;
                                            "
                                        >


                                    {% else %}


                                        <img
                                            src="{% static 'images/cart/one.png' %}"
                                            alt="{{ item.product.name }}"
                                        >


                                    {% endif %}


                                </a>


                            </td>



                            <td class="cart_description">


                                <h4>

                                    <a href="{% url 'users:product_detail' item.product.id %}">

                                        {{ item.product.name }}

                                    </a>

                                </h4>


                                <p>

                                    Web ID:
                                    {{ item.product.id }}

                                </p>


                            </td>



                            <td class="cart_price">

                                <p>

                                    ${{ item.price }}

                                </p>

                            </td>



                            <td class="cart_quantity">

                                {{ item.quantity }}

                            </td>



                            <td class="cart_total">

                                <p class="cart_total_price">

                                    ${{ item.total }}

                                </p>

                            </td>


                        </tr>


                        {% endfor %}



                        <tr>


                            <td colspan="3">

                                &nbsp;

                            </td>


                            <td colspan="2">


                                <table
                                    class="table table-condensed total-result"
                                >


                                    <tr>

                                        <td>
                                            Cart Sub Total
                                        </td>

                                        <td>
                                            ${{ total }}
                                        </td>

                                    </tr>


                                    <tr class="shipping-cost">

                                        <td>
                                            Shipping Cost
                                        </td>

                                        <td>
                                            Free
                                        </td>

                                    </tr>


                                    <tr>

                                        <td>
                                            Total
                                        </td>

                                        <td>

                                            <span>
                                                ${{ total }}
                                            </span>

                                        </td>

                                    </tr>


                                </table>


                            </td>


                        </tr>


                    </tbody>


                </table>


            </div>



            <div class="payment-options">


                <span>

                    <label>

                        <input
                            type="radio"
                            name="payment"
                            value="bank"
                            checked
                        >

                        Direct Bank Transfer

                    </label>

                </span>


                <span>

                    <label>

                        <input
                            type="radio"
                            name="payment"
                            value="check"
                        >

                        Check Payment

                    </label>

                </span>


                <span>

                    <label>

                        <input
                            type="radio"
                            name="payment"
                            value="paypal"
                        >

                        Paypal

                    </label>

                </span>


            </div>



            <div
                class="text-right"
                style="margin:30px 0;"
            >


                <button
                    type="submit"
                    class="btn btn-primary"
                    style="
                        background:#fe980f;
                        border-color:#fe980f;
                        padding:12px 35px;
                    "
                >

                    <i class="fa fa-check"></i>

                    PLACE ORDER

                </button>


            </div>


        </form>


        {% else %}


            <div
                class="alert alert-info text-center"
                style="margin:40px 0;"
            >

                <h4>
                    Your cart is empty.
                </h4>


                <a
                    href="{% url 'users:home' %}"
                    class="btn btn-default"
                >

                    Continue Shopping

                </a>

            </div>


        {% endif %}


    </div>

</section>


{% endblock %}