{% extends 'base.html' %}
{% load static %}


{% block title %}
Home | E-Shopper
{% endblock %}



{% block slide %}


<section id="slider">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">


                <div
                    id="slider-carousel"
                    class="carousel slide"
                    data-ride="carousel"
                >


                    <ol class="carousel-indicators">

                        <li
                            data-target="#slider-carousel"
                            data-slide-to="0"
                            class="active"
                        ></li>

                        <li
                            data-target="#slider-carousel"
                            data-slide-to="1"
                        ></li>

                        <li
                            data-target="#slider-carousel"
                            data-slide-to="2"
                        ></li>

                    </ol>



                    <div class="carousel-inner">


                        <div class="item active">


                            <div class="col-sm-6">

                                <h1>
                                    <span>E</span>-SHOPPER
                                </h1>

                                <h2>
                                    Free E-Commerce Template
                                </h2>

                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>

                                <button
                                    type="button"
                                    class="btn btn-default get"
                                >
                                    Get it now
                                </button>

                            </div>


                            <div class="col-sm-6">

                                <img
                                    src="{% static 'images/home/girl1.jpg' %}"
                                    class="girl img-responsive"
                                    alt=""
                                >

                                <img
                                    src="{% static 'images/home/pricing.png' %}"
                                    class="pricing"
                                    alt=""
                                >

                            </div>


                        </div>



                        <div class="item">


                            <div class="col-sm-6">

                                <h1>
                                    <span>E</span>-SHOPPER
                                </h1>

                                <h2>
                                    100% Responsive Design
                                </h2>

                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>

                            </div>


                            <div class="col-sm-6">

                                <img
                                    src="{% static 'images/home/girl2.jpg' %}"
                                    class="girl img-responsive"
                                    alt=""
                                >

                            </div>


                        </div>



                        <div class="item">


                            <div class="col-sm-6">

                                <h1>
                                    <span>E</span>-SHOPPER
                                </h1>

                                <h2>
                                    Free Ecommerce Template
                                </h2>

                            </div>


                            <div class="col-sm-6">

                                <img
                                    src="{% static 'images/home/girl3.jpg' %}"
                                    class="girl img-responsive"
                                    alt=""
                                >

                            </div>


                        </div>


                    </div>


                    <a
                        href="#slider-carousel"
                        class="left control-carousel hidden-xs"
                        data-slide="prev"
                    >
                        <i class="fa fa-angle-left"></i>
                    </a>


                    <a
                        href="#slider-carousel"
                        class="right control-carousel hidden-xs"
                        data-slide="next"
                    >
                        <i class="fa fa-angle-right"></i>
                    </a>


                </div>


            </div>

        </div>

    </div>

</section>


{% endblock %}



{% block content %}


<section>

    <div class="container">


        <div class="row">


            <div class="col-sm-3">

                {% include 'menuLeft.html' %}

            </div>



            <div class="col-sm-9 padding-right">


                <div class="features_items">


                    <h2 class="title text-center">
                        Latest Products
                    </h2>



                    {% for product in products %}


                    <div class="col-sm-4">


                        <div class="product-image-wrapper">


                            <div
                                class="single-products product-click"
                                data-url="{% url 'users:product_detail' product.id %}"
                                style="cursor:pointer;"
                            >


                                <div class="productinfo text-center">


                                    {% if product.image_list %}

                                    <img
                                        src="{{ product.image_list.0 }}"
                                        alt="{{ product.name }}"
                                        style="
                                            width:100%;
                                            height:250px;
                                            object-fit:contain;
                                        "
                                    >

                                    {% else %}

                                    <img
                                        src="{% static 'images/home/product1.jpg' %}"
                                        alt="{{ product.name }}"
                                        style="
                                            width:100%;
                                            height:250px;
                                            object-fit:contain;
                                        "
                                    >

                                    {% endif %}



                                    {% if product.status == 1 and product.sale > 0 %}


                                    <h2>
                                        ${{ product.sale }}
                                    </h2>


                                    <p>
                                        <del>
                                            ${{ product.price }}
                                        </del>
                                    </p>


                                    {% else %}


                                    <h2>
                                        ${{ product.price }}
                                    </h2>


                                    {% endif %}



                                    <p>
                                        {{ product.name }}
                                    </p>



                                    <button
                                        type="button"
                                        class="btn btn-default add-to-cart"
                                        data-product-id="{{ product.id }}"
                                    >

                                        <i class="fa fa-shopping-cart"></i>

                                        Add to cart

                                    </button>


                                </div>



                                <div class="product-overlay">


                                    <div class="overlay-content">


                                        {% if product.status == 1 and product.sale > 0 %}

                                        <h2>
                                            ${{ product.sale }}
                                        </h2>

                                        {% else %}

                                        <h2>
                                            ${{ product.price }}
                                        </h2>

                                        {% endif %}


                                        <p>
                                            {{ product.name }}
                                        </p>


                                        <button
                                            type="button"
                                            class="btn btn-default add-to-cart"
                                            data-product-id="{{ product.id }}"
                                        >

                                            <i class="fa fa-shopping-cart"></i>

                                            Add to cart

                                        </button>


                                    </div>


                                </div>



                                {% if product.status == 0 %}

                                <img
                                    src="{% static 'images/home/new.png' %}"
                                    class="new"
                                    alt="New"
                                >

                                {% elif product.status == 1 %}

                                <img
                                    src="{% static 'images/home/sale.png' %}"
                                    class="new"
                                    alt="Sale"
                                >

                                {% endif %}


                            </div>



                            <div class="choose">


                                <ul class="nav nav-pills nav-justified">

                                    <li>

                                        <a href="#">

                                            <i class="fa fa-plus-square"></i>

                                            Add to wishlist

                                        </a>

                                    </li>

                                    <li>

                                        <a href="#">

                                            <i class="fa fa-plus-square"></i>

                                            Add to compare

                                        </a>

                                    </li>

                                </ul>


                            </div>


                        </div>


                    </div>


                    {% empty %}


                    <div class="col-sm-12">

                        <div class="alert alert-info text-center">

                            Chưa có sản phẩm nào.

                        </div>

                    </div>


                    {% endfor %}


                </div>


            </div>


        </div>


    </div>

</section>


{% endblock %}



{% block extra_js %}


<script>

document.addEventListener(
    'DOMContentLoaded',
    function () {


        const csrfInput =
            document.querySelector(
                '#csrf-form input[name="csrfmiddlewaretoken"]'
            );


        const csrfToken =
            csrfInput
                ? csrfInput.value
                : '';



        /*
        CLICK PRODUCT -> DETAIL
        */

        document
            .querySelectorAll(
                '.product-click'
            )
            .forEach(
                function (product) {


                    product.addEventListener(
                        'click',
                        function (event) {


                            if (
                                event.target.closest(
                                    '.add-to-cart'
                                )
                            ) {
                                return;
                            }


                            if (
                                event.target.closest(
                                    '.choose'
                                )
                            ) {
                                return;
                            }


                            window.location.href =
                                product.dataset.url;


                        }
                    );


                }
            );



        /*
        ADD TO CART
        */

        document
            .querySelectorAll(
                '.add-to-cart'
            )
            .forEach(
                function (button) {


                    button.addEventListener(
                        'click',
                        function (event) {


                            event.preventDefault();

                            event.stopPropagation();


                            const productId =
                                button.dataset.productId;


                            if (!productId) {

                                alert(
                                    'Không tìm thấy Product ID'
                                );

                                return;
                            }



                            fetch(
                                "{% url 'users:add_to_cart' %}",
                                {

                                    method: 'POST',

                                    credentials:
                                        'same-origin',

                                    headers: {

                                        'Content-Type':
                                            'application/json',

                                        'X-CSRFToken':
                                            csrfToken

                                    },


                                    body:
                                        JSON.stringify(
                                            {
                                                product_id:
                                                    productId
                                            }
                                        )

                                }
                            )


                            .then(
                                function (response) {


                                    return response
                                        .json()
                                        .then(
                                            function (data) {

                                                return {
                                                    ok:
                                                        response.ok,

                                                    data:
                                                        data
                                                };

                                            }
                                        );


                                }
                            )


                            .then(
                                function (result) {


                                    if (!result.ok) {

                                        alert(
                                            result.data.message
                                            ||
                                            'Add cart error'
                                        );

                                        return;

                                    }


                                    const data =
                                        result.data;


                                    const cartCount =
                                        document.getElementById(
                                            'cart-count'
                                        );


                                    if (cartCount) {

                                        cartCount.textContent =
                                            data.cart_count;

                                    }



                                    const oldHTML =
                                        button.innerHTML;


                                    button.innerHTML =
                                        '<i class="fa fa-check"></i> Added';


                                    button.disabled =
                                        true;


                                    setTimeout(
                                        function () {

                                            button.innerHTML =
                                                oldHTML;

                                            button.disabled =
                                                false;

                                        },
                                        1000
                                    );


                                }
                            )


                            .catch(
                                function (error) {


                                    console.error(
                                        'Add to cart:',
                                        error
                                    );


                                    alert(
                                        'Không thể thêm sản phẩm vào Cart.'
                                    );


                                }
                            );


                        }
                    );


                }
            );


    }
);

</script>


{% endblock %}