{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ product.name }} | E-Shopper
{% endblock %}


{% block extra_css %}

<style>

    .view-product {
        position: relative;
        border: 1px solid #eeeeee;
        background: #ffffff;
        overflow: hidden;
    }


    .main-product-image {
        width: 100%;
        height: 420px;
        object-fit: contain;
        cursor: zoom-in;
    }


    .zoom-title {
        position: absolute;
        bottom: 0;
        right: 0;

        margin: 0;
        padding: 8px 15px;

        background: #fe980f;
        color: #ffffff;

        font-size: 14px;

        pointer-events: none;
    }


    .similar-product-wrapper {
        display: flex;
        align-items: center;

        margin-top: 15px;

        gap: 8px;
    }


    .thumbnail-container {
        flex: 1;

        display: flex;

        justify-content: center;

        gap: 8px;
    }


    .product-thumbnail {
        width: 31%;
        height: 100px;

        object-fit: cover;

        border: 2px solid #eeeeee;

        padding: 3px;

        cursor: pointer;

        background: #ffffff;
    }


    .product-thumbnail:hover,
    .product-thumbnail.active {
        border-color: #fe980f;
    }


    .image-control {
        width: 30px;
        height: 50px;

        border: 0;

        background: #fe980f;
        color: #ffffff;

        font-size: 20px;

        cursor: pointer;
    }


    .image-control:hover {
        background: #e58a0b;
    }


    .product-information {
        padding-top: 20px;
    }


    .product-price {
        display: block;

        color: #fe980f;

        font-size: 30px;
        font-weight: bold;

        margin: 15px 0;
    }


    .old-price {
        display: inline-block;

        color: #999999;

        font-size: 18px;

        margin-left: 10px;
    }


    .detail-quantity {
        width: 60px;
        height: 33px;

        border: 1px solid #dddddd;

        text-align: center;

        margin-right: 10px;
    }


    .product-popup {
        position: fixed;

        display: none;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: 99999;

        background: rgba(0, 0, 0, 0.92);

        align-items: center;
        justify-content: center;
    }


    .product-popup.active {
        display: flex;
    }


    .product-popup img {
        max-width: 95%;
        max-height: 95%;

        object-fit: contain;
    }


    .product-popup-close {
        position: absolute;

        top: 15px;
        right: 30px;

        color: #ffffff;

        font-size: 45px;

        cursor: pointer;
    }


    .product-popup-close:hover {
        color: #fe980f;
    }


    .detail-content {
        padding: 20px;
    }


    @media(max-width: 767px) {

        .main-product-image {
            height: 300px;
        }


        .product-thumbnail {
            height: 80px;
        }

    }

</style>

{% endblock %}



{% block content %}

<section>

    <div class="container">

        <div class="row">


            <div class="col-sm-3">

                {% include 'menuLeft.html' %}

            </div>



            <div class="col-sm-9 padding-right">


                <div class="product-details">


                    <div class="col-sm-5">


                        <div class="view-product">


                            {% if product.image_list %}

                                <img
                                    id="mainProductImage"
                                    class="main-product-image"
                                    src="{{ product.image_list.0 }}"
                                    alt="{{ product.name }}"
                                >

                            {% else %}

                                <img
                                    id="mainProductImage"
                                    class="main-product-image"
                                    src="{% static 'images/product-details/1.jpg' %}"
                                    alt="{{ product.name }}"
                                >

                            {% endif %}


                            <h3 class="zoom-title">
                                ZOOM
                            </h3>


                        </div>



                        {% if product.image_list %}

                        <div class="similar-product-wrapper">


                            <button
                                type="button"
                                id="prevImage"
                                class="image-control"
                            >

                                <i class="fa fa-angle-left"></i>

                            </button>



                            <div class="thumbnail-container">


                                {% for image in product.image_list|slice:":3" %}

                                    <img
                                        src="{{ image }}"
                                        data-full="{{ image }}"
                                        class="product-thumbnail {% if forloop.first %}active{% endif %}"
                                        alt="{{ product.name }}"
                                    >

                                {% endfor %}


                            </div>



                            <button
                                type="button"
                                id="nextImage"
                                class="image-control"
                            >

                                <i class="fa fa-angle-right"></i>

                            </button>


                        </div>

                        {% endif %}


                    </div>



                    <div class="col-sm-7">


                        <div class="product-information">


                            {% if product.status == 0 %}

                                <img
                                    src="{% static 'images/product-details/new.jpg' %}"
                                    class="newarrival"
                                    alt="New"
                                >

                            {% endif %}



                            <h2>
                                {{ product.name }}
                            </h2>


                            <p>
                                Web ID:
                                {{ product.id }}
                            </p>



                            {% if product.status == 1 and product.sale > 0 %}

                                <span class="product-price">

                                    US ${{ product.sale }}

                                    <del class="old-price">
                                        ${{ product.price }}
                                    </del>

                                </span>

                            {% else %}

                                <span class="product-price">

                                    US ${{ product.price }}

                                </span>

                            {% endif %}



                            <p>

                                <b>
                                    Category:
                                </b>

                                {% if product.category %}

                                    {{ product.category.name }}

                                {% else %}

                                    N/A

                                {% endif %}

                            </p>



                            <p>

                                <b>
                                    Brand:
                                </b>

                                {% if product.brand %}

                                    {{ product.brand.name }}

                                {% else %}

                                    N/A

                                {% endif %}

                            </p>



                            <p>

                                <b>
                                    Company:
                                </b>

                                {% if product.company %}

                                    {{ product.company }}

                                {% else %}

                                    N/A

                                {% endif %}

                            </p>



                            <p>

                                <b>
                                    Status:
                                </b>

                                {{ product.get_status_display }}

                            </p>



                            <p>

                                <b>
                                    Created:
                                </b>

                                {{ product.created_at|date:"d/m/Y H:i" }}

                            </p>



                            <div style="margin-top: 20px;">

                                <label>
                                    Quantity:
                                </label>


                                <input
                                    id="productQuantity"
                                    class="detail-quantity"
                                    type="number"
                                    value="1"
                                    min="1"
                                >


                                <button
                                    type="button"
                                    id="detailAddToCart"
                                    class="btn btn-fefault cart"
                                    data-product-id="{{ product.id }}"
                                >

                                    <i class="fa fa-shopping-cart"></i>

                                    Add to cart

                                </button>

                            </div>


                        </div>


                    </div>


                </div>



                <div style="clear: both;"></div>



                <div class="category-tab shop-details-tab">


                    <div class="col-sm-12">


                        <ul class="nav nav-tabs">


                            <li class="active">

                                <a
                                    href="#details"
                                    data-toggle="tab"
                                >
                                    Details
                                </a>

                            </li>


                            <li>

                                <a
                                    href="#reviews"
                                    data-toggle="tab"
                                >
                                    Reviews
                                </a>

                            </li>


                        </ul>


                    </div>



                    <div class="tab-content">


                        <div
                            class="tab-pane fade active in"
                            id="details"
                        >


                            <div class="col-sm-12">

                                <div class="detail-content">


                                    <h3>
                                        {{ product.name }}
                                    </h3>


                                    {% if product.detail %}

                                        {{ product.detail|linebreaks }}

                                    {% else %}

                                        <p>
                                            No product details.
                                        </p>

                                    {% endif %}


                                </div>

                            </div>


                        </div>



                        <div
                            class="tab-pane fade"
                            id="reviews"
                        >


                            <div class="col-sm-12">


                                <p>

                                    <b>
                                        Write Your Review
                                    </b>

                                </p>


                                <form>


                                    <span>

                                        <input
                                            type="text"
                                            placeholder="Your Name"
                                        >

                                        <input
                                            type="email"
                                            placeholder="Email Address"
                                        >

                                    </span>


                                    <textarea
                                        placeholder="Your Review"
                                    ></textarea>


                                    <button
                                        type="button"
                                        class="btn btn-default pull-right"
                                    >
                                        Submit
                                    </button>


                                </form>


                            </div>


                        </div>


                    </div>


                </div>


            </div>


        </div>


    </div>

</section>



<div
    id="productPopup"
    class="product-popup"
>


    <span
        id="closePopup"
        class="product-popup-close"
    >
        &times;
    </span>


    <img
        id="popupImage"
        src=""
        alt="{{ product.name }}"
    >


</div>

{% endblock %}



{% block extra_js %}

<script>

document.addEventListener(
    'DOMContentLoaded',
    function () {


        /*
        ======================================
        PRODUCT IMAGE
        ======================================
        */


        const mainImage =
            document.getElementById(
                'mainProductImage'
            );


        const thumbnails =
            Array.from(
                document.querySelectorAll(
                    '.product-thumbnail'
                )
            );


        const prevButton =
            document.getElementById(
                'prevImage'
            );


        const nextButton =
            document.getElementById(
                'nextImage'
            );


        const popup =
            document.getElementById(
                'productPopup'
            );


        const popupImage =
            document.getElementById(
                'popupImage'
            );


        const closePopup =
            document.getElementById(
                'closePopup'
            );


        let currentIndex = 0;



        function changeImage(index) {


            if (
                !mainImage ||
                thumbnails.length === 0
            ) {
                return;
            }


            if (index < 0) {

                index =
                    thumbnails.length - 1;

            }


            if (
                index >= thumbnails.length
            ) {

                index = 0;

            }


            currentIndex = index;


            mainImage.src =
                thumbnails[
                    currentIndex
                ].dataset.full;


            thumbnails.forEach(
                function (thumbnail) {

                    thumbnail
                        .classList
                        .remove(
                            'active'
                        );

                }
            );


            thumbnails[
                currentIndex
            ]
                .classList
                .add(
                    'active'
                );


        }



        thumbnails.forEach(
            function (
                thumbnail,
                index
            ) {


                thumbnail
                    .addEventListener(
                        'click',
                        function () {

                            changeImage(
                                index
                            );

                        }
                    );


            }
        );



        if (prevButton) {

            prevButton
                .addEventListener(
                    'click',
                    function () {

                        changeImage(
                            currentIndex - 1
                        );

                    }
                );

        }



        if (nextButton) {

            nextButton
                .addEventListener(
                    'click',
                    function () {

                        changeImage(
                            currentIndex + 1
                        );

                    }
                );

        }



        if (mainImage) {

            mainImage
                .addEventListener(
                    'click',
                    function () {


                        if (!popup) {
                            return;
                        }


                        popupImage.src =
                            mainImage.src;


                        popup
                            .classList
                            .add(
                                'active'
                            );


                    }
                );

        }



        if (closePopup) {

            closePopup
                .addEventListener(
                    'click',
                    function () {

                        popup
                            .classList
                            .remove(
                                'active'
                            );

                    }
                );

        }



        if (popup) {

            popup
                .addEventListener(
                    'click',
                    function (event) {


                        if (
                            event.target === popup
                        ) {

                            popup
                                .classList
                                .remove(
                                    'active'
                                );

                        }


                    }
                );

        }



        document
            .addEventListener(
                'keydown',
                function (event) {


                    if (
                        event.key ===
                        'Escape'
                    ) {

                        if (popup) {

                            popup
                                .classList
                                .remove(
                                    'active'
                                );

                        }

                    }


                    if (
                        event.key ===
                        'ArrowLeft'
                        &&
                        thumbnails.length > 0
                    ) {

                        changeImage(
                            currentIndex - 1
                        );

                    }


                    if (
                        event.key ===
                        'ArrowRight'
                        &&
                        thumbnails.length > 0
                    ) {

                        changeImage(
                            currentIndex + 1
                        );

                    }


                }
            );



        /*
        ======================================
        ADD TO CART
        ======================================
        */


        const addToCartButton =
            document.getElementById(
                'detailAddToCart'
            );


        const quantityInput =
            document.getElementById(
                'productQuantity'
            );


        const csrfInput =
            document.querySelector(
                '#csrf-form input[name="csrfmiddlewaretoken"]'
            );


        const csrfToken =
            csrfInput
                ? csrfInput.value
                : '';



        if (addToCartButton) {


            addToCartButton
                .addEventListener(
                    'click',
                    function () {


                        const productId =
                            addToCartButton
                                .dataset
                                .productId;


                        let quantity =
                            parseInt(
                                quantityInput.value
                            );


                        if (
                            !quantity
                            ||
                            quantity < 1
                        ) {

                            quantity = 1;

                            quantityInput.value =
                                1;

                        }



                        /*
                        Vì add_to_cart hiện tại
                        mỗi request +1,
                        gửi nhiều lần theo quantity.
                        */

                        const requests = [];


                        for (
                            let i = 0;
                            i < quantity;
                            i++
                        ) {


                            requests.push(

                                fetch(
                                    "{% url 'users:add_to_cart' %}",
                                    {

                                        method:
                                            'POST',

                                        credentials:
                                            'same-origin',

                                        headers: {

                                            'Content-Type':
                                                'application/json',

                                            'X-CSRFToken':
                                                csrfToken

                                        },

                                        body:
                                            JSON.stringify(
                                                {
                                                    product_id:
                                                        productId
                                                }
                                            )

                                    }
                                )
                                .then(
                                    function (
                                        response
                                    ) {

                                        return response
                                            .json();

                                    }
                                )

                            );


                        }



                        Promise
                            .all(
                                requests
                            )
                            .then(
                                function (
                                    results
                                ) {


                                    const lastResult =
                                        results[
                                            results.length - 1
                                        ];


                                    if (
                                        !lastResult
                                        ||
                                        !lastResult.success
                                    ) {

                                        alert(
                                            'Không thể thêm sản phẩm vào Cart.'
                                        );

                                        return;

                                    }


                                    const cartCount =
                                        document
                                            .getElementById(
                                                'cart-count'
                                            );


                                    if (
                                        cartCount
                                    ) {

                                        cartCount
                                            .textContent =
                                                lastResult
                                                    .cart_count;

                                    }



                                    const oldHTML =
                                        addToCartButton
                                            .innerHTML;


                                    addToCartButton
                                        .innerHTML =
                                            '<i class="fa fa-check"></i> Added';


                                    addToCartButton
                                        .disabled =
                                            true;


                                    setTimeout(
                                        function () {


                                            addToCartButton
                                                .innerHTML =
                                                    oldHTML;


                                            addToCartButton
                                                .disabled =
                                                    false;


                                        },
                                        1000
                                    );


                                }
                            )
                            .catch(
                                function (
                                    error
                                ) {


                                    console.error(
                                        'Add to cart error:',
                                        error
                                    );


                                    alert(
                                        'Không thể thêm sản phẩm vào Cart.'
                                    );


                                }
                            );


                    }
                );


        }


    }
);

</script>

{% endblock %}