{% extends 'base.html' %}

{% block title %}
Password Changed
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

            <div class="alert alert-success">

                Mật khẩu đã được thay đổi thành công.

            </div>

            <a
                href="{% url 'users:login' %}"
                class="btn btn-default"
            >
                Login
            </a>

        </div>

    </div>

</div>

{% endblock %}